<h1>Precios</h1>
<hr>
<div>
    <a href="http://192.168.84.108:8080/servicios/descarga_precios_col" class="btn btn-primary">Descargar Precios</a>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Sku</th>
            <th scope="col">Codigos de Barras</th>
            <th scope="col">Descripción</th>
            <th scope="col">Licencia</th>
            <th scope="col">Estandar sin iva</th>
            <th scope="col">Estandar con iva</th>
            <th scope="col">Adicional sin iva</th>
            <th scope="col">Adicional con iva</th>
            <th scope="col">Aeropuerto sin iva</th>
            <th scope="col">Aeropuerto con iva</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let precio of precios">
            <td>{{precio.itemCode}}</td>
            <td>{{precio.codigoBarras}}</td>
            <td>{{precio.itemName}}</td>
            <td>{{precio.licencia}}</td>
            <td>{{precio.estandarSinIva | number: '.2-2'}}</td>
            <td>{{precio.estandarConIva | number: '.2-2'}}</td>
            <td>{{precio.adicionalSinIva | number: '.2-2'}}</td>
            <td>{{precio.adicionalConIva | number: '.2-2'}}</td>
            <td>{{precio.aeropuertoSinIva | number: '.2-2'}}</td>
            <td>{{precio.aeropuertoConIva | number: '.2-2'}}</td>
        </tr>
    </tbody>
</table>